.header{
}
.header :global(.Header_navLink__U81jZ) img{
    height: 40px;
}.navLink {
    color: #bdbdbd;
    text-decoration: none;
}.navLink:hover {
    color: #fff;
}.navLink:global(.active) {
    color: #fff;
}
